@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@inject AgileTracker.Client.Application.Contracts.ICurrentUser currentUserService

@model AgileTracker.Client.Startup.Models.Tasks.ProjectGroups.Group.ProjectGroupViewModel
@{
    ViewData["Title"] = $"{@Model.GroupName} - Project group";
    bool authorizedOwner = (await authorizationService.AuthorizeAsync(User, Model.Id, "IsProjectGroupOwner")).Succeeded;
}

<div class="back mb-4 mt-4">
    <a asp-controller="ProjectGroups" asp-action="Index">
        <i class="fa fa-chevron-left"></i>Go back
    </a>
</div>

<div class="text-left">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert" asp-validation-summary="All"></div>
    }

    <h1 class="display-4">
        @Model.GroupName
        @if (authorizedOwner)
        {

            <button type="button" class="btn-icon danger pull-right" data-toggle="modal" data-target="#removeModal">
                <i class="fa fa-trash"></i>
            </button>
        }
    </h1>

    @if (authorizedOwner)
    {
        <partial name="_TaskEstimationStatisticsPartial" />
    }

    @if (authorizedOwner)
    {
        <!-- Remove modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure you want to remove the project group?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove the project group? All project data will be lost.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form method="post" asp-controller="ProjectGroups" asp-action="RemoveProjectGroup" asp-route-projectGroupId="@Model.Id">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row mt-4">
        <div class="col-6">
            <div class="section-title mb-3">
                Members
                @if ((await authorizationService.AuthorizeAsync(User, Model.Id, "IsProjectGroupOwner")).Succeeded)
                {
                    <a class="ml-2" asp-controller="ProjectGroups" asp-action="InviteProjectGroupMember" asp-route-projectGroupId="@Model.Id">
                        <small>Invite member</small>
                    </a>
                }

            </div>
            <ul class="list-unstyled">
                @foreach (var member in Model.Members)
                {
                    var isCurrentUser = member.MemberId == currentUserService.UserId;
                    <li class='mb-1 @(isCurrentUser ? "currentUser" :"")'>
                        @member.UserName @(member.IsOwner ? "(group owner)" : "") @(isCurrentUser ? "(me)" : "")
                    </li>
                }
            </ul>
        </div>
        <div class="col-6">
            <div class="section-title mb-3">
                Projects
                @if ((await authorizationService.AuthorizeAsync(User, Model.Id, "IsProjectGroupOwner")).Succeeded)
                {
                    <a class="ml-2" asp-controller="ProjectGroups" asp-action="CreateProject" asp-route-projectGroupId="@Model.Id">
                        <small>Create new</small>
                    </a>
                }

            </div>
            <ul class="list-unstyled">
                @foreach (var project in Model.Projects)
                {
                    <li class='mb-2 project'>
                        <a asp-controller="Projects" asp-action="Index" asp-route-projectGroupId="@Model.Id" asp-route-projectId="@project.Id">
                            @project.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script src="~/js/statistics.js"></script>
}